<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../statics/styles/basics.css">
	<link rel="stylesheet" href="../statics/styles/articulo.css">
	<link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.css">
	<title>Artículo</title>
</head>
<body>

	<header id="header-corto" class="degradeBlueTop">
		<img src="../statics/img/logo_zen.png" alt="LOGO" class="logo-cuarto">

		<nav class="botones-trescuartos">
			<a href="../index.html"><button class="degradeGreen boton-cuarto"><strong>Rutinas</strong></button></a>
			<a href="../index.html"><button class="degradeGreen boton-cuarto"><strong>Alimentación</strong></button></a>
			
			<input type="text" class="busqueda busqueda-cuarto">
		</nav>
	</header>


	<aside class="aside-cuarto degradeBlueToBlue">
		<div id="cuadro-usuario"><i class="far fa-user-circle fa-2x"></i><strong> Tu usuario</strong></div>
		<div class="linea-separadora"></div>

		<div class="art-miniatura">
			<a href="./articulo.html">
				<div class="art-foto"><img src="https://image.freepik.com/free-photo/legumes-beans-assortment-healthy-vegan-protein-food_114579-52480.jpg" alt="xd" height="100"></div>
				<p>Sed maximus in nunc euismod venenatis. Cras porta justo eu lobortis viverra.</p>
			</a>
		</div>

		<div class="art-miniatura">
			<a href="./articulo.html">
				<div class="art-foto"><img src="https://img.freepik.com/free-photo/man-practicing-yoga-sunset-light_155003-8084.jpg?size=338&ext=jpg" alt="xd" height="100"></div>
				<p>Sed maximus in nunc euismod venenatis. Cras porta justo eu lobortis viverra.</p>
			</a>
		</div>

		<div class="art-miniatura">
			<a href="./articulo.html">
				<div class="art-foto"><img src="https://image.freepik.com/free-photo/woman-rolling-yoga-mat_53876-14750.jpg" alt="xd" height="100"></div>
				<p>Sed maximus in nunc euismod venenatis. Cras porta justo eu lobortis viverra.</p>
			</a>
		</div>

		<div class="art-miniatura">
			<a href="./articulo.html">
				<div class="art-foto"><img src="https://image.freepik.com/free-photo/beautiful-girl-doing-meditation_72229-1344.jpg" alt="xd" height="100"></div>
				<p>Sed maximus in nunc euismod venenatis. Cras porta justo eu lobortis viverra.</p>
			</a>
		</div>

		<div class="art-miniatura">
			<a href="./articulo.html">
				<div class="art-foto"><img src="https://image.freepik.com/free-photo/composition-with-plate-alarm-clock-measuring-tape-colored-background-diet-concept-weight-loss-plan-copy-space_127032-2211.jpg" alt="xd" height="100"></div>
				<p>Sed maximus in nunc euismod venenatis. Cras porta justo eu lobortis viverra.</p>
			</a>
		</div>
		
		
	</aside>


	<section id="articulo-comentarios">
		<article id="article-body"> 
			<h1><strong>Artículo</strong></h1>
			<img src="https://image.freepik.com/free-photo/woman-sitting-yoga-pose-beach_1098-1454.jpg" height="200" alt="foto'art">

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at lacus aliquet, faucibus libero nec, pellentesque odio. In et magna eu ipsum commodo lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
			</p>

			<p>
				Maecenas scelerisque est mauris, sed placerat magna fringilla at. Suspendisse sit amet tellus quam. Mauris justo felis, fringilla sed molestie et, dictum et dui. Morbi leo justo, ornare a metus sed, tempor aliquet augue. Nunc tempus orci imperdiet, sollicitudin libero pretium, ullamcorper urna. 
			</p>

			<p>
				Maecenas scelerisque est mauris, sed placerat magna fringilla at. Suspendisse sit amet tellus quam. Mauris justo felis, fringilla sed molestie et, dictum et dui. Morbi leo justo, ornare a metus sed, tempor aliquet augue. Nunc tempus orci imperdiet, sollicitudin libero pretium, ullamcorper urna. 
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at lacus aliquet, faucibus libero nec, pellentesque odio. In et magna eu ipsum commodo lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
			</p>

			<p>
				Maecenas scelerisque est mauris, sed placerat magna fringilla at. Suspendisse sit amet tellus quam. Mauris justo felis, fringilla sed molestie et, dictum et dui. Morbi leo justo, ornare a metus sed, tempor aliquet augue. Nunc tempus orci imperdiet, sollicitudin libero pretium, ullamcorper urna. 
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at lacus aliquet, faucibus libero nec, pellentesque odio. In et magna eu ipsum commodo lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
			</p>

			<p>
				Maecenas scelerisque est mauris, sed placerat magna fringilla at. Suspendisse sit amet tellus quam. Mauris justo felis, fringilla sed molestie et, dictum et dui. Morbi leo justo, ornare a metus sed, tempor aliquet augue. Nunc tempus orci imperdiet, sollicitudin libero pretium, ullamcorper urna. 
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at lacus aliquet, faucibus libero nec, pellentesque odio. In et magna eu ipsum commodo lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
			</p>
		</article>

		<div class="linea-separadora"></div>

		<article id="seccion-comentarios">
			<h3>Comentarios</h3>
			<h4>Escribe un comentario</h4>

			<textarea  class="comentario-prompt comentario-box"></textarea>
			<br>
			<div style="display: flex; padding-top: 1em;"><a href="#" id="boton-comentar"><button class="boton-verde">Comentar</button></a></div>

			<br><br>

			<div class="comentario">
				<div class="comentario-usuario "><i class="far fa-user-circle fa-2x"></i> Usuario dice:</div>

				<div class="comentario-box comentario-cuerpo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lonsectetur adipiscing elit, sed eiusmod tempor incidunt ut.</div>
			</div>

			<div class="comentario">
				<div class="comentario-usuario"><i class="far fa-user-circle fa-2x"></i> Usuario dice:</div>

				<div class="comentario-box comentario-cuerpo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lonsectetur adipiscing elit, sed eiusmod tempor incidunt ut.</div>
			</div>

			<div class="comentario">
				<div class="comentario-usuario"><i class="far fa-user-circle fa-2x"></i> Usuario dice:</div>

				<div class="comentario-box comentario-cuerpo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lonsectetur adipiscing elit, sed eiusmod tempor incidunt ut.</div>
				<br>
			</div>
		</article>
	</section>


	<footer id="footer">
		<div>
			<strong>Contáctame</strong>
			<u>example@domain.com</u>
		</div>
		<div>
			<strong>Sígueme</strong>
			<img src="../statics/img/logos.png" height="25">
		</div>
	</footer>
</body>
</html>